*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    font-size: 20px;
    font-family: monospace;
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 100vh;
    align-items: center;
    background: #000;
}

h2{
    
    position: relative;
    margin:20px 0 0;
    font-size: 4em;
    font-weight: 900;
    color: white;
    z-index: 1;
    overflow: hidden;
}
h2:before{
    content: "";
    position: absolute;
    left: 110%;
    width: 120%;
    height: 100%;
    background: linear-gradient(90deg, transparent 0%, #000 5%, #000 100%);
    animation: animate 5.5s linear forwards;
    animation-delay: 1.8s;
}

@keyframes animate{
    0%{
        left: 110%;
    }
    100%{
        left: -20%;
    }
}
h2 span{
    color: orangered;
}

video{
    position:absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 2;
    pointer-events: none;
    mix-blend-mode: screen;
}